/* Google Fonts  work sans*/
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@400;600;700;800&display=swap');

 *{
    font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
  }

  /* Nav bar style */

  .nav-logo{
    width: 3.5rem;
    position: relative;
   top: .25rem;
    
  }
  .nav-title{
    margin-left: 15rem;
  }

  .highlight-color{
    color: #FF42A5;
  }
  nav{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

  }
  nav > ul{
    display: flex;
    margin-right: 8rem;

    justify-content: center;
    margin-top: 2rem;
}
nav li{
  list-style: none;
  
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
 
}
  
  .nav-follow-us{
    background-color: rgba(11, 2, 35, 0.10);
    width: 11rem;
    height: 2rem;
    padding-top: .25rem;
    padding-left: 1rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
  position: relative;
  top: -.25rem;
  
   
  }
  /* Banner Styles */
  .banner-section{
    display: flex;
    justify-content: space-between;
    
  }

  .banner-content{
    margin-top: 8rem;
    margin-left: 10rem;
    background-image: url('images/Group 14.png');
    

  }
  .banner-slogan{
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
   
   
   
  }
  .banner-goat{
    font-size: 4rem;
    margin: 0;
   background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
   background-clip: text;
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   
  }

  .banner-section p{
    font-size: 1rem;
    font-weight: 500;
  }
  .btn-primary{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    padding: .75rem 1.5rem;
    border: none;
    border-radius: 3rem;
    color: white;
  }
  .btn-secondary{
    background: #4EC5F7;
    padding: .75rem 1.5rem;
    border: none;
    border-radius: 3rem;
    color: white;
  }
  .banner-img{
    width: 500px;
    background-image: url("images/Group 14.png");
    margin-top: 2rem;
    margin-right: 10rem;

  }
  /* Online Games Style */
  .online-game-title{
    text-align: center;
    margin-top: 100px;
  }
  .funny-videos{
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }
  .game-paragraph{
    font-size: smaller;
    text-align: center;
  }
  .online-game-section{
    margin-top: 2rem;
    display: flex;
    gap: 20px;
    justify-content: center;
   
  
  }
  .game-card-img{
    width: 250px;
    flex-shrink: 0;
  }
  .game-card p{
    font-size: smaller;
  }
  .game-card{
    position: relative;

  }
  .game-card:hover .text{
    visibility: visible;
    cursor: pointer;
    border: 3px solid #F948B2;
    border-radius: 13.5px;
  }
  
  
   
   .image{
    width: 250px;
   }
   .text{
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.7;
    color: white;
    width: 250px;
    height: 300px;
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    visibility: hidden;
   }


   /* Responsive media query */
/*  For mobile device */
   @media screen   and (max-width:576px) {
    nav{
      box-shadow: none;
    }
    .nav-title{
      margin-left: 350px;
      margin-top: 40px;
    }
    .nav-bar{
      width: 1000px;
      flex-direction: column;
    }
    nav ul{
      flex-direction: column;
      align-items: center;
    }
    nav li{
      margin-top: 15px;
    }
      .nav-follow-us{ 
        padding-bottom: .5rem;
        margin-top: 13px;
    }
.banner-section{
  flex-direction: column-reverse;
}
.banner-img-section{
  margin-left: 200px;
}
.banner-content{
  width: 600px;
  margin-left: 300px;
}
.banner-section button {
  margin-right: 10px;
}



   }