/* Google Fonts  work sans*/
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@400;600;700;800&display=swap');

 *{
    font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  }
 

  /* Nav bar style */

  .nav-logo{
    width: 3.5rem;
    position: relative;
   top: .25rem;
    
  }
  .nav-title{
    margin-left: 15rem;
    margin-top: 20px;
  }

  .highlight-color{
    color: #FF42A5;
  }
  nav{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

  }
  nav > ul{
    display: flex;
    margin-right: 8rem;

    justify-content: center;
    margin-top: 2rem;
}
nav li{
  list-style: none;
  
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
 
}
  
  .nav-follow-us{
    background-color: rgba(11, 2, 35, 0.10);
    width: 11rem;
    height: 2rem;
    padding-top: .25rem;
    padding-left: 1rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
  position: relative;
  top: -.25rem;
  
   
  }
  /* Banner Styles */
  .banner-section{
    display: flex;
    justify-content: space-between;
    
  }

  .banner-content{
    margin-top: 8rem;
    margin-left: 10rem;
    
    

  }
  .banner-slogan{
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
   
   
   
  }
  .banner-goat{
    font-size: 4rem;
    margin: 0;
   background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
   background-clip: text;
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   
  }

  .banner-section p{
    font-size: 1rem;
    font-weight: 500;
  }
  .btn-primary{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    padding: .75rem 1.5rem;
    border: none;
    border-radius: 3rem;
    color: white;
    margin-top: 20px;
  }
  .btn-secondary{
    background: #4EC5F7;
    padding: .75rem 1.5rem;
    border: none;
    border-radius: 3rem;
    color: white;
    margin-top: 20px;
  }
  .banner-img{
    width: 500px;
    
    
    margin-top: 2rem;
    margin-right: 10rem;

  }
  /* Online Games Style */
  .online-game-title{
    text-align: center;
    margin-top: 100px;
  }
  .funny-videos{
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }
  .game-paragraph{
    font-size: smaller;
    text-align: center;
    color: gray;
  }
  .online-game-container{
    margin-top: 2rem;
    display: flex;
    gap: 20px;
    justify-content: center;
   
  
  }
  .game-card-img{
    width: 250px;
    flex-shrink: 0;
  }
  .game-card p{
    font-size: smaller;
    
  }
  .game-card{
    position: relative;

  }
  .game-card:hover .text{
    visibility: visible;
    cursor: pointer;
    border: 3px solid #F948B2;
    border-radius: 13.5px;
  }
  
  
   
   .image{
    width: 250px;
   }
   .text{
    position:absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.7;
    color:#F948B2;
    font-weight: bold;
    width: 250px;
    height: 290px;
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    visibility: hidden;
   }

   /* Play Instantly Section Styles */
   .play-instantly-text{
    color: #F948B2;
    
    
   }
   .play-game-content{
    margin-left: 320px;
    margin-top: 200px;
    width: 200px;
    

   }
   .play-game-content p{
    
    margin-top: 15px;
    color:gray;
  
    
   }
   .play-game-content h1{
    font-size:x-large;
   margin-top: 6px;
   font-weight: bolder;

   }
   .play-game-section{
    display: flex;
   }
   .play-game-img{
    width: 400px;
    margin-left: 350px;
    margin-top: 100px;
   }
   .over-img{
    width: 200px;
    position: relative;
    right: 500px;
    top: 40px;
   }
   /* Games category section styles */
   .game-catagory-section{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 70px;
   margin-left: 150px;
   }
.each-game {
  display: flex;
align-items: center;
gap: 10px;
border: 2px solid transparent;
    border-radius: 30px;
   
   
}
.each-game p{
  font-weight: bold;
}
   .catagory-img{
    width:40px;
    height: 40px;
    

   }
   .game-catagory-section{
    margin-top: 200px;
   }
   .each-game:hover{
    border: 2px solid #FF42A5;
    border-radius: 30px;
    color: #FF42A5;
   

   }

   /* Footer style */
   .footer-section{
    margin-top: 200px;
    background-color: black;
    height: 350px;
    
   }
   .footer-logo{
    width: 3.5rem;
    position: relative;
   top: .25rem;
    
  }
  .footer-title{
   padding-top: 70px;
color: white;
text-align: center;
  }
  .social-media,.portfolio , .policy ul{
    margin-left: 490px;
    color: white;
    display: flex;
    gap: 20px;
    font-size: small;
    margin-top: 30px;
    
  }
  .footer-section li{
    list-style: none;
  }
  .social-media li{
    position: relative;
    left: 95px;
   font-size: x-large;
  }
  .policy li{
    font-size: x-small;
    position: relative;
    left: 50px;
    color: lightgray;
  }
  #copyright{
    color: lightgray;
    margin-left: 640px;
    margin-top: 20px;
    font-size: xx-small;
  }
  .policy{
    display: flex;
    gap: 10px;
    margin-left: 500px;
    margin-top: 20px;
  }
  
  






   /* Responsive media query */
/*  For mobile device */
   @media screen   and (max-width:576px) {
    nav{
      box-shadow: none;
    }
    .nav-title{
      margin-left: 350px;
      margin-top: 40px;
    }
    .nav-bar{
      width: 1000px;
      flex-direction: column;
    }
    nav ul{
      flex-direction: column;
      align-items: center;
    }
    nav li{
      margin-top: 15px;
    }
      .nav-follow-us{ 
      
        margin-top: 11px;
        padding-bottom: 15px;
       
        
       
        
    }
.banner-section{
  flex-direction: column-reverse;
}
.banner-img-section{
  margin-left: 200px;
}
.banner-content{
  width: 600px;
  margin-left: 300px;
}
.banner-section button {
  margin-right: 10px;
}

.online-game-container{
  flex-direction: column;
  margin-left: 290px;
}
.game-title-container{
width: 600px;
margin-left: 100px;
}
.game-card p{
  width: 700px;
padding-left: 8px;
  
}
.text{
  height: 290px;
}
.play-game-section{
  flex-direction: column;
  width: 400px;
  margin: 0;
}

.play-game-img{
  width: 350px;
  margin-left: 250px;

}

.play-game-img-box{
  width: 100px;
  margin: 0;
}
.over-img{
 
  width: 180px;
  position: relative;
  right: 5px;
  top: -150px;
  left: 180px;
 }
 .game-catagory-section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
 margin-left: 150px;
 }

 .footer-section{
 width:1000px;
  height: 400px;
 }
 

  .social-media {
   margin-left: 100px;
   display: grid;
   grid-template-columns: repeat(3,.25fr);
   gap: 5px;
   margin-top: 20px;
   
   
 }
 .portfolio{
margin-left: 200px;
display: grid;
grid-template-columns: repeat(3,.25fr);
gap: 5px;
 }
 .policy {
  
   display: grid;
   grid-template-columns: repeat(2,1fr);
   position: relative;
   left: 200px;
   margin-top: 10px;
   width: 700px;

   flex: none;
   gap: none;
   margin-left: 0;

   
 }
 .policy li{
  margin-top: 20px;
  width: 150px;
  left: 10px;
 
 }
 
 
 
 
 
 
 #copyright{
  
   margin-left: 400px;

  
 }
}

 /* Responsive For Tablet */
 @media screen and (min-width:576px) and (max-width:992px) {
  
   
    nav{
      box-shadow: none;

    }
    .nav-bar{
      width: 600px;
     
    }
    nav > ul{
      display: flex;
      margin-right: 8rem;
  
      
  }
  .banner-content{
    
    margin-left: 2rem;
   

  }
  .banner-img{
    width: 300px;
    
    
    
    margin-right: 5rem;

  }
  .online-game-container{
   
    position: relative;
    left: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  
  }
  .game-card-img{
    width: 100px;
    flex-shrink: 0;}
    
  .game-card p{
    font-size: x-small;
    width: 150px;
    
  }
  .play-game-section{
    flex-direction: column;
    width: 400px;
    margin: 0;
  }
  .play-game-img{
    width: 350px;
    margin-left: 250px;
  
  }
  
  .play-game-img-box{
    width: 100px;
    margin: 0;
  }
  .over-img{
   
    width: 180px;
    position: relative;
    right: 5px;
    top: -150px;
    left: 180px;
   }
   .game-catagory-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
   margin-left: 40px;
   }
  
   .footer-section{
   width:1000px;
    height: 400px;
   }
   
  
    .social-media {
     margin-left: 100px;
     display: grid;
     grid-template-columns: repeat(3,.25fr);
     gap: 5px;
     margin-top: 20px;
     
     
   }
   .portfolio{
  margin-left: 200px;
  display: grid;
  grid-template-columns: repeat(3,.25fr);
  gap: 5px;
   }
   .policy {
    
     display: grid;
     grid-template-columns: repeat(2,1fr);
     position: relative;
     left: 200px;
     margin-top: 10px;
     width: 700px;
  
     flex: none;
     gap: none;
     margin-left: 0;
  
     
   }
   .policy li{
    margin-top: 20px;
    width: 150px;
    left: 8px;
   
   }
   
   
   
   
   
   
   #copyright{
    
     margin-left: 350px;
  
    
   }
   .nav-follow-us{
   
    width: 13rem;
    height: 2rem;
    padding-top: .25rem;
    padding-left: 1rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
  position: relative;
  top: -.25rem;
    

 }
 .text{
  height: 110px;
  width: 100px;
  
 text-align: start;
 

 
 
}
 
 
 



}